@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    color: black;
    font-family: "Amatic SC", sans-serif;
}

main {
    flex: 1;
}

.navbar{
    font-size: 2em;
}

.descripcion{
    font-size: 2em;
}

section h1{
    font-size: 3em;
    font-weight: bolder;
}

.sobre-nosotros{
    font-size: 2em;
}

.experiencias{
    font-size: 2em;
}

.contacto{
    font-size: 2em;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.team-member {
    text-align: center;
}
.team-member h5 {
    margin-top: 10px;
    font-weight: bold;
}
.team-member p {
    margin-top: 5px;
    color: #6c757d;
}

footer {
    background-color: black;
    padding: 1em;
    text-align: center;
    margin-top: auto;
    font-size: 2em;
    color: white;
}